.wrapper
  .contents
    .post-card
      .more
        %span
          = fa_icon "ellipsis-h"
        %ul.more_list
          %li
            = link_to '編集', "/posts/#{@post.id}/edit", method: :get
          %li
            = link_to '削除', "/posts/#{@post.id}", method: :delete
      .post-time 
        = l(@post.created_at,format: :default)
      .post-picture-area
        .post-picture
          = image_tag "#{@post.picture.url}"
      .post-text
        = simple_format @post.text

    = form_for [@post,@comment], html: {class:"comment-field"} do |f| 
      = render 'layouts/error_messages', model: f.object
      = f.text_area :text, wrap: "hard", class:"comment-field__text", placeholder: "commentする"
      = f.submit "comment",class: "comment-field__btn" 
    